<!DOCTYPE html>
<html lang="en">

<head>
  <title>Password Reset</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', filename='css/all.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='js/all.min.js') }}">
  <link href="{{ url_for('static', filename='js/bootstrap.js') }}">

</head>

<body style="margin: 20px">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('auth_bp.password_updation', emailHashToken=request.path.split('/')[-1]) }}" 
        method="POST" oninput='userPasswordConfirm.setCustomValidity(userPasswordConfirm.value != userPassword.value ? "OOho Passwords Missmatch" : "")'>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="I swear I don't know your Email" 
          name="userEmail" required>
          <small id="emailHelp" class="form-text text-muted">We Store Your Encrypted Email</small>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="I will hide your input when you type" 
          name="userPassword" required>
        </div>
        <div class="form-group">
            <label for="inputPasswordConfirm">Password Confirmation</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Hey! If it's not exactly similar with Password then I will Flush it BAM!"
            name="userPasswordConfirm" required>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>